<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>887016287518-b6dfiav06t6otsudgad1lkhsugvkl5gv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.887016287518-b6dfiav06t6otsudgad1lkhsugvkl5gv</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>887016287518-03ahfaghog0m2nv06v277tfjlcpqkt8s.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyD9QLALOjD2aMH94eVKroHianRIGCYawr8</string>
	<key>GCM_SENDER_ID</key>
	<string>887016287518</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.wai</string>
	<key>PROJECT_ID</key>
	<string>ss-wai-eb7ec</string>
	<key>STORAGE_BUCKET</key>
	<string>ss-wai-eb7ec.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:887016287518:ios:c4f5da27cabb6c14736d0f</string>
</dict>
</plist>